/*  your css code here. If applicable */
h1{
	color:"#2a7ae2";
	padding: 5px;
}
h2{
	color:"#f44336";
	padding: 5px;
}
h3{
	color:"#4caf50";
	padding: 5px;
}
h4{
	color:"#ff9800";
	padding: 5px;
}
h5{
	color:"#607d8b";
	padding: 5px;
}
h6{
	color:"#ffeb3b";
	padding: 5px;
}